.themed-container {
    padding: 0.75rem;
    background-color: rgba(0, 123, 255, .15);
    border: 1px solid rgba(0, 123, 255, .2);
    position: relative;
    left: -10%;
    width: 50%;
}

.left{
    position: absolute;
    left: 80%;
}
.fixed-filters{
    position: absolute;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    left: 60%;
    top: 0;
    flex-direction: column-reverse;
    z-index:100;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
}

.flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.half{
    width:33.333%;
}

#areamin{
    width: 70px;
}

#areamax{
    width: 70px;
}

#pricemin{
    width: 110px;
}

#pricemax{
    width: 110px;
}

.collapse .show{
    position: absolute;
    right: 0%;
    width: 50%;
}

.text-center{
   position: relative !important;
    left: 0 !important;;
}